.bg-nav {
    background-color: #EE7768 !important;
}

body {
    background-color: #fcf7ef !important;
}

.bg-overlay {
    background-image: url(/img/amavita-header-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}