@font-face {
    font-family: 'Hurme-bold';
    src: url("../fonts/HurmeGeometricSans4-bold.otf");
    font-style: normal;
    font-weight: bold;
    }

@font-face {
    font-family: 'Hurme-regular';
    src: url("../fonts/HurmeGeometricSans4.otf");
    font-style: normal;
    font-weight: 300;
    }

@font-face {
    font-family: 'Hurme-light';
    src: url("../fonts/HurmeGeometricSans4-light.otf");
    font-style: normal;
    font-weight: 200;
    }
    

@font-face {
    font-family: 'Hurme-semibold';
    src: url("../fonts/HurmeGeometricSans4-SemiBold.otf");
    font-style: normal;
    font-weight: 500;
    }
body {
    background-color: #FAF7F2;
}

/* Colores */
.color-rose {
    color: #EE7768;
}

.color-blue {
    color: #0f3e67;
}



/* Fin-Colores */

/* Botones */

.btn-primary {
    background-color: #0f3e67 !important;
    color: #EE7768 !important;
    border: none !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    border-radius: 0 !important;
}

.btn-primary:hover {
    background-color: #072642 !important;
}

.btn-secondary {
    background-color: #EE7768 !important;
    color: #fff;
    border: none !important;
}
.btn-secondary:hover {
    background-color: #0f3e67 !important;
}

/*Fin-botones*/

.hurmebold {
    font-family: 'Hurme-bold';
    font-style: normal;
    font-weight: bold;
    
    
}

.hurmeregular {
    font-family: 'Hurme-regular';
    font-weight: 300;
   
    
}

.hurme-semibold {
    font-family: 'Hurme-semibold';
    font-weight: 500;
   
}

.nav-item {
    font-size: 20px;
    padding-right: 25px;
} 
.bg-nav {
    background-color: #EE7768;
}


.slider-header {
    padding-top: 90px;
}


.bg-intro {
    padding-top: 50px;
}

.espaciado {
    padding-right: 210px;
    padding-left: 210px;
} @media (max-width: 600px) {
    .espaciado {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.espaciado p {
    color: #575756;
}

.espaciado-1 {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.espaciado-1 p {
    color: #575756;
}

li {
    list-style: none ;
    padding: none !important;
}